* {
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  background: #262a4f;
}

h3 {
  margin: 0;
  padding: 0;
}

button {
  background: blue;
  color: white;
  padding: 8px 40px;
  border: 0px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
}

h2 {
  font-size: 36px;
  font-weight: 900;
  margin: 32px 0;
}

.top {
  margin: 0;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 16px 128px;
}

div.header {
  display: flex;
}

.header h3 {
  margin-right: auto;
}

.right-links {
  display: flex;
  gap: 16px;
}

.right-links a {
  color: #cccccc;
  text-decoration: none;
}

.intro {
  margin: 128px 0px;
  display: flex;
  gap: 64px;
}

.title {
  font-size: 48px;
  font-weight: 900;
  margin: 0px;
}

.subtitle {
  font-size: 18px;
  color: #bbbbbb;
  margin: 8px 0px;
}

.placeholder1 {
  display: flex;
  justify-content: center;
  background: #888888;
  align-items: center;
  text-align: center;
  width: 600px;
  height: 300px;
  flex: 1 0 auto;
}

.info {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 128px;
}

.boxes {
  display: flex;
  margin: 0px 64px;
  gap: 32px;
}

.subbed-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
}

.subbed-image div {
  width: inherit;
  height: 150px;
  border: 4px solid #2522d4;
  border-radius: 8px;
}

.subbed-image .subtitle {
  color: #555555;
  text-align: center;
}

.center-bottom {
  background: #dddddd;
  padding-top: 128px;
  padding-bottom: 64px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.quote {
  display: flex;
  flex-direction: column;
  width: 800px;
}

.said {
  font-size: 36px;
  font-style: italic;
  font-weight: 200;
  margin: 0px;
  width: inherit;
}

.sayer {
  margin: 0px;
  margin-left: auto;
  font-weight: bold;
  font-size: 20px;
}
