* {
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  background: #04044a;
}

h3 {
  margin: 0;
  padding: 0;
}

button {
  background: blue;
  color: white;
  padding: 8px 40px;
  border: 0px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
}

.top {
  margin: 0;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 16px 128px;
}

div.header {
  display: flex;
}

.header h3 {
  margin-right: auto;
}

.right-links {
  display: flex;
  gap: 16px;
}

.right-links a {
  color: #ffffff;
  text-decoration: none;
}

.intro {
  margin: 128px 0px;
  display: flex;
  gap: 64px;
}

.title {
  font-size: 48px;
  font-weight: bold;
  margin: 0px;
}

.subtitle {
  font-size: 18px;
  color: #bbbbbb;
  margin: 8px 0px;
}

/* TODO: figure out why this isn't maintaining its size */
.placeholder1 {
  display: flex;
  justify-content: center;
  background: #888888;
  align-items: center;
  text-align: center;
  width: 600px;
  height: 300px;
  flex: 1 0 auto;
}
